{% extends 'auth/base_authentication.html' %}

{% block body %}


<div class = div-auth>
    <h1>Login</h1>
<form class = "auth-form" action="/login_submit" method="post">
    <table>
        <tr>
            <td><input class="auth-input" type="text" placeholder= "Username" name="username"></td>
        </tr>
        <tr>
            <td><input class="auth-input"  type="password" placeholder= "Password" name="password"></td>
        </tr>
    </table>
    <div><input type="checkbox" class="checkbox" name="remember">
    <label for="remember">Remember Me</label></div>
    <p><button class= "auth-button" type="submit">Submit</button></p>
</form>

<div>
    <p>New to WebChat? <span><a href="{{ url_for('auth.signup_page') }}">Sign Up</a></span> Here!</p>
    <p><span class="error">{{ error_msg }}</span></p>
</div>
</div>


{% endblock body %}