{% extends 'auth/base_authentication.html' %}

{% block body %}


<div class ="div-auth">
    <h1>Sign Up</h1>
<form class = "auth-form" action="/signup_submit", method="post" class = "auth-form" enctype="multipart/form-data">

    <table>

        <tr>
            <td><input class="auth-input" placeholder = "Name" type="text" name="name"></td>
        </tr>

        <tr>
            <td><input class="auth-input" placeholder = "Username" type="text" name="username"></td>
        </tr>

        <tr>
            <td><input class="auth-input" placeholder = "Email" type="email" name="email"></td>
        </tr>

        <tr hidden>
            <td><p>Upload Profile Photo:</p></td>
            <td><p>to be implemented</p></td>
        </tr>

        <tr>
            <td><input class="auth-input" placeholder = "Password" type="password" name="password"></td>
        </tr>

        <tr>
            <td><p>Profile Image: </p></td>
            <td><input class="img-upload" type="file" name="image" id="dp_image"></td>
        </tr>
    </table>

    <p><span class="error">{{ error_msg }}</span></p>
    <p><button class= "auth-button" type="submit">Submit</button></p>

</form>

<div>
    <p>Already Have An Account? <span><a href="{{ url_for('auth.login_page') }}">Login</a></span> Here!</p>
</div>
</div>

{% endblock body %}