<!doctype html>

<html>

    <head>
        <title>{{ the_title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
        
        <div class="chat-screen">

            <div class="contacts-section" name="contacts-section" id="contacts-section">
                {% block contacts %}
                {% endblock contacts %}
            </div>

            <div class="chat-section" name="chat-section" id="chat-section">
                {% block chat %}
                {% endblock chat %}
            </div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
        
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        

        <!-- Modal for creating new group -->
        <div class="modal" tabindex="-1" id="createGroupModal" data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-header">
                  <h5 class="modal-title">Create New Group</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                  <!-- <p>Modal body text goes here.</p> -->
                  <p>Please enter group members' and group admins' usernames comma-seperated. <i>Eg: admin1, admin2, admin3</i></p>
                  <p>Max 15 members only!</p>
                  <p id="fillAllEntryMessage" class="text-danger"></p>
                  <form>
                    <div class="mb-3">
                        <input type="text" name="groupName" id="groupNameInput" class="form-control">
                        <label for="groupNameInput" class="form-label">Group Name</label>
                    </div>
                    
                    <div class="mb-3">
                        <input type="text" name="groupMembers" id="groupMembersInput" class="form-control">
                        <label for="groupMembersInput" class="form-label">Group Members</label>
                    </div>

                    <div class="mb-3">
                        <input type="text" name="groupAdmins" id="groupAdminsInput" class="form-control">
                        <label for="groupAdminsInput" class="form-label">Group Admins</label>
                    </div>
                  </form>

                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary" id="createGroupButton" data-target="#errorWarningModal" data-toggle="modal">Create Group</button>
                </div>

              </div>
            </div>
          </div>


        <!-- Modal for showing Errors / Warnings -->
        <div class="modal" tabindex="-1" id="errorWarningModal"  data-keyboard="false" data-backdrop="static">
            <div class="modal-dialog">
              <div class="modal-content">

                <div class="modal-header">
                  <h5 class="modal-title" id="modalTitle">Title Error</h5>
                  <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                </div>

                <div class="modal-body">
                    <p class="text-warning" id="modalText">Message Message Message Error</p>
                </div>

                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                  <!-- <button type="button" class="btn btn-primary" id="createGroupButton">Create Group</button> -->
                </div>

              </div>
            </div>
          </div>

    </body>

</html>