<!doctype html>

<html>

    <head>
        <title>{{ the_title }}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
        
        <div class="chat-screen">

            <div class="contacts-section" name="contacts-section" id="contacts-section">
                {% block contacts %}
                {% endblock contacts %}
            </div>

            <div class="chat-section" name="chat-section" id="chat-section">
                {% block chat %}
                {% endblock chat %}
            </div>

        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/chat.js') }}"></script>
        
    </body>

</html>