<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebChat|Login</title>
    <!-- <link rel ="stylesheet" href ="../static/css/style.css"> -->
    <link rel ="stylesheet" href ="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <p>Login</p>
    <form action ="/login" method = "post">
        <input class = "input" type ="email">
        <input class="input" type="password">
        <button class = "button">Login</button>
    </form>
    

    <p> Sign up</p>
    <div>
        <input class = "input" type ="email">
        <input class="input" type="password">
        <button class = "button">Sign Up</button>
    </div>
    
</body>
</html>